.profile_pic {
    /* display: flex; */
    background-color: aquamarine;
    width: 450px;
    height: 400px;
    border-radius: 10%;
}

.header {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-bottom: 5%;
}

/*https://stackoverflow.com/questions/12429677/align-two-headings-closer-to-each-other-using-css
https://jsbin.com/vedemizeze/edit?html,css,output*/
.header h2 + h4 { 
    line-height: 1px;
}

.job_title {
    color: #F3BF99;
    font-family: 'Inter', sans-serif;
    font-weight: 300;

}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.buttons {
    display: flex;
    justify-content: center;
}

.email {
    display: inline-block;
    background: #D1D5DB;
    color: black;
    width: 120px;
    height: 50px;
}

.emailContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.linkedin {
    display: inline-block;
    background: #5093E2;
    color: #FFFFFF;
    width: 120px;
    height: 50px;
    margin-left: 10px;
}

.linkedInContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}